PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/futsalkhelum
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=30d

# SMTP Configuration (e.g., Mailtrap, Ethereal, or Gmail)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here